
/* Header Styling */
#navbar {
    background-color: #4CAF50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #logo img {
    height: 60px;
    width: auto;
  }
  
  #title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover,
  nav ul li a.active {
    background-color: #3e8e41;
  }
  
  
  
/* Section Styling */
section {
    padding: 60px 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
}

#mission, #vision, #goals {
    background-color: white;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    color: rgb(111, 172, 27);
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

/* Goals Section */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    padding: 10px;
    /* background-color: #f4f4f4; */
    margin: 10px 0;
    border-radius: 10px;
    color: #333;
}

/* Team Section */
#team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.team-member {
    text-align: center;
    margin: 20px;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.team-member h3 {
    font-size: 22px;
    color: rgb(111, 172, 27);
}

.team-member p {
    font-size: 18px;
    color: #555;
}

/* Footer Styling */
footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}

.footer-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-content p {
    max-width: 600px;
    margin: 0 auto 20px;
    font-size: 16px;
    line-height: 1.5;
}

.socials {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.socials li {
    margin: 0 15px;
}

.socials li a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.socials li a:hover {
    color: #4CAF50;
}

.footer-bottom {
    padding: 20px 0;
    border-top: 1px solid #333;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
